</div>
</div>
</div><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; ShoppingCart</p>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script src="/js/main.js"></script>
</body>
</html>